DATABASE_URL="file:./dev.db"
APP_BASE_URL="https://example.com"
WECOM_APPOINTMENT_WEBHOOK_URL=""
ALIYUN_SMS_ACCESS_KEY_ID=""
ALIYUN_SMS_ACCESS_KEY_SECRET=""
ALIYUN_SMS_SIGN_NAME="万维盈创"
ALIYUN_SMS_TEMPLATE_APPOINTMENT_APPROVED=""
ALIYUN_SMS_REGION_ID="cn-hangzhou"
ALIYUN_SMS_ENDPOINT="dysmsapi.aliyuncs.com"
