.next
node_modules
.npm-cache
dist
build
.env
.env*.local
*.tsbuildinfo
*.log
*.db
*.db-journal
.codex-ssh/
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/showrooms/
public/uploads/showrooms/*
!public/uploads/showrooms/.gitkeep
